.product-row {
    display: flex;
   margin-top: 28px;
   padding: 16px;
   
    /* flex-wrap: wrap; */
}
.filters {
   width:350px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 20px;
    border: 0.2px solid black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.filter-group {
    margin-bottom: 20px;
}

.filter-group label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}
.filter-group input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 12px;
}

.filters h2 {
    margin-bottom: 24px;
}
.sort-search-section{
    display: flex;
    justify-content: space-between;
}
.sort-bar{
    width: 160px;
    margin: 20px ;
}
.shop-search-bar{
    display: flex;
    align-items: center;
    gap: 16px;
}
.shop-search-bar input{
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}


/* wishlist-css */
.wishlist-container {
    width: 92%;
    margin: 64px  auto auto;
    /* background: #9ce2c14d; */
    background-color: rgba(250, 247, 248, 0.449);
    padding: 12px;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .wishlist-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .discount {
    color: #4CAF50;
  }
  
  
  
   table {
      width: 92%;
      margin: 12px auto;
      border-collapse: collapse;
      background-color: white;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      overflow: hidden;
  }
  
  table thead {
      background-color: #f5f7fb;
      /* text-align: center; */
  }
  
  table th, table td {
      padding: 15px;
      
      border-bottom: 1px solid #ddd;
  }
  
  table th {
      color: #333;
      font-weight: bold;
  }
  
  table tbody tr:hover {
      background-color: #f1f1f1;
  }
  
  .edit-btn, .delete-btn, .add-to-cart-btn {
      padding: 5px 10px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      color: white;
      margin-right: 5px;
  }
  
  .edit-btn {
      background-color: #4caf50;
  }
  
  .delete-btn {
      background-color: #ed3621;
  }
  .add-to-cart-btn{
    /* background-color: #fb641b; */
    background-color:#2a52d6;
  }
  
  table img {
    width: 100px;
    height: auto;
    object-fit: cover;
    margin-right: 20px;
  }
  

  /* pagination */

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 12px;

}

.pagination a,
.pagination .current-page {
  display: inline-block;
  /* padding: 5px 10px; */
  margin: 0 2px;
  /* border: 1px solid #ddd; */
  text-decoration: none;
  color:    #363131;
  /* background-color: #007bff */
}

.pagination a:hover {
  background-color: #c5c4c9;
}


.pagination button {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.pagination span {
    font-size: 16px;
}
