<%- include('../../views/partials/header') %>
<section class="main-section container-fluid   ">
    <div class="container d-flex row m-auto mx-5">
        <div class="image-section  col-12 col-lg-6">
            <img class="img-fluid" src="/images/loginimg.png" alt="Plant">
        </div>
        <div class=" form-section d-flex flex-column  col-12 col-lg-6 ">
          <h2>Forgot Password</h2>
          <p>Enter your details below</p>

          <form  action="/forgot-password"method="post">

            <% if (typeof message!== 'undefined') { %>
             <p class="text-center m-auto" style="color:red;font-size:16px;"><%= message%></p>
              <% } %> 
     
        <input type="email" name="email" id="email" placeholder="Email" required>
        <div class="error danger-msg" id="email-error"></div>
        <button type="submit"  class="btn btn-success">Continue</button>
          
          </form>
          <a href="/signup" class="forgot-password">Don't have an account?  sign up</a>
      </div>
    </div>
  </section>
  <script src="/script/signupvalidation.js"></script>
  <%- include('../../views/partials/footer') %>