<%- include('../../views/partials/header') %>
<section class="main-section container-fluid   ">
    <div class="container d-flex row m-auto mx-5">
        <div class="image-section  col-12 col-lg-6">
            <img class="img-fluid" src="/images/loginimg.png" alt="Plant">
        </div>
        <div class=" form-section d-flex flex-column  col-12 col-lg-6 ">
          <h2>Log In</h2>
          <p>Enter your details below</p>

          <form  action="/login"method="post">

            <% if (typeof message!== 'undefined') { %>
             <p class="text-center m-auto" style="color:red;font-size:16px;"><%= message%></p>
              <% } %> 
     
        <input type="email" name="email" id="email" placeholder="Email" >
        <div class="error danger-msg" id="email-error"></div>
        <input type="password" name="password"id="password" placeholder="Password" >
        <div class="error danger-msg" id="password-error"></div>
        <button type="submit"  class="btn btn-success">Log in</button>
            <button type="button" class="btn-google">
                <img class="google-logo"  src="/images/Google-Logo-PNG-Image.png" alt="">   Log in with Google</button>
          
            
          </form>
          <a href="/forgot-password" class="forgot-password">Forgot Password?</a>
          <a href="/signup" class="forgot-password">Don't have an account?  sign up</a>
      </div>
    </div>
  </section>
  <script src="/script/signupvalidation.js"></script>
  <%- include('../../views/partials/footer') %>