<%- include('../../views/partials/header') %>
<div class="fill">
<div class="otp-container">
    <h2>OTP Verification</h2>
    <p>Please enter the 6-digit OTP sent to your registered email.</p>
    <!-- onsubmit=" return validateOTPForm()" -->
    <form id="otp-form" action="/verify-otp" method="post"   class="otp-form">
        <% if (typeof message!== 'undefined') { %>
            <p class="text-center m-auto" style="color:red;font-size:16px;"><%= message%></p>
        <% } %> 
        <div class="mb-3" id="otp1">
             <!-- <label for="otp">Enter OTP:</label> -->
                    <input type="text" id="otp" name="otp" class="form-control " required maxlength="6" pattern="\d*" />
        </div> 
      
        <button type="submit" class="verify-button" onclick="validateOtp()" >Verify</button>
    </form>

    <div class="timer">
        <p>Time remaining: <span id="timer">01:00</span></p>
    </div>
    <form action="/resend-otp" method="post">
    <button  type="submit" id="resend-button" class="resend-button" disabled>Resend OTP</button></form>
    <script src="/public/script/otp.js"></script>
</div>
</div>

   

<%- include('../../views/partials/footer') %>