<%- include('../../views/partials/header') %>
<style>
  .content {
            /* width: 75%; */
            /* margin-left: 5%; */
            padding: 8px;
           
        }

        .wallet-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
            margin-top: 20px;
            padding: 12px;
            background-color: #6cd0ee61;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .wallet-header h2 {
            color: red;
            text-align: center;
        }

        .balance {
            font-size: 24px;
            font-weight: bold;
        }

        .actions {
          display: flex;
          justify-content: space-between;
            margin-top: 40px;
        }

        .actions button {
            display: block;
            width: 200px;
            padding: 10px;
            margin: 10px 0;
            font-size: 16px;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .add-wallet {
            background-color: #007bff;
            color: #fff;
        }

        .transactions {
            background-color: #28a745;
            color: #fff;
        }
</style>
<div class="container username-section d-flex">
  <p>Welcome <span style="color: red;"><%= user.name %></span></p>
</div>

<div class="profile-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h3>Manage My Account</h3>
    <ul>
      <li><a href="/profile"><i class="fas fa-user"></i> My Profile</a></li>
      <li><a href="/address" class="active"><i class="fas fa-map-marker-alt"></i> Address</a></li>
      <li><a href="/change-password"><i class="fas fa-lock"></i> Change Password</a></li>
      <li><a href="/order"><i class="fas fa-shopping-cart"></i> Orders</a></li>
      <li><a href="#"><i class="fas fa-tags"></i> Coupons</a></li>
      <li><a href="#"><i class="fas fa-wallet"></i> Wallet</a></li>
    </ul>
  </aside>

  <section class="profile-section">
    <%if(wallet.length<=0){%>
    <div class="alert alert-primary" role="alert">
      A simple primary alert—check it out!
    </div>
    <%}else{%>
    <div class="content">
      <div class="wallet-header">
          <h2>Wallet</h2>
          <div class="balance">Balance: &#8377;<%=totalprice%></div>
      </div>
      <div class="actions">
          <button class="add-wallet">Add Wallet</button>
          <a href="/walletTransactions" class="nav-link"><button class="transactions" >Transactions</button></a>
      </div>
  </div>
  <%}%>
  </section>
</div>

<%- include('../../views/partials/footer') %>
